body {
	width:400px;
	margin-top:10px;
	margin-left:600px;
	font-family: arial, sans-serif;
	font-size:14px;
	text-align:center;
}
#header {
	padding:10px;
	height:40px;
	background:#00f;
}
#header h1 {
	margin:0;
	font-size:26px;
	color:#fff;
}
#main {
	border:1px solid #00f;
}
#main #title {
	padding:10px 15px;
	height:20px;
	background:#99f;
}
#title h2 {
	float:left;
	margin:0;
	font-size:20px;
	color:#333;
}
#title p {
	float:right;
	margin-top:3px;
	color:#333;
}
#title p a:link, #title a:visited {
	color:#333;
	text-decoration:none;
}
#title p a:hover {
	color:#fff;
}
#main #view {
	clear:both;
	padding: 15px;
	min-height:350px;
	text-align:left;
}
#view table {
    width:100%;
}
#view #feelings {
	padding-top:10px;
	padding-bottom:10px;
	border:1px solid #99f;
}
#view #feelings table {
	width:100%;
	text-align:center;
}
#view #feelings table td {
	width:20%;	
}
#view #feelings input {
    width: 50px; 
}
#view #mymoods .moodscurve{
    width:100%;
    height:80px;
    margin-top:20px;
    margin-bottom:40px;
    border-left:1px solid #000;
    border-bottom:1px solid #000;
    background:url("bg.gif") repeat-x;
}
#view #mymoods td {
    padding-right:20px;
    height:20px;
    border-bottom:1px dotted #ccc;
}
#view #myfriends h3 {
	border-bottom:1px solid #000;
}
#view #myfriends td {
    width:25%;
    border-right:1px dotted #ccc;
	border-bottom:1px dotted #ccc;
	text-align:center;
}
#view #myfriends .moodscurve{
    width:100%;
    height:100px;
    margin-top:5px;
    margin-bottom:40px;
    border-left:1px solid #000;
    border-bottom:1px solid #000;
    background:url("bg.gif") repeat-x;
}
#view #mymatching h3 {
	border-bottom:1px solid #000;
}
#view #mymatching td {
	padding-right:10px;
	height:30px;
    border-bottom:1px dotted #ccc;
}
#view #myprofile h3 {
    border-bottom:1px solid #000;
}	
#view #myprofile td {
	padding-right:10px;
	height:30px;
	border-bottom:1px dotted #ccc;
}
#view #edtprofile h3 {
    border-bottom:1px solid #000;
}	
#view #edtprofile td {
	padding-right:10px;
	height:30px;
}
#view #edtprofile table input {
	width:160px;
}
#view #ulist table td {
	height:30px;
	max-width:100px;
	padding:0;
	overflow:hidden;
	border-bottom:1px dotted #ccc;
	border-right:1px dotted #ccc;
}
#view #ulist table th {
	text-align:center;
	background:#ccc;
}
#view #ulist a:link {
	text-decoration:none;
}
#navi {
	height:40px;
	background:#00f;
}
#navi ul {
	margin:0;
	padding:0;
}
#navi ul li {
	display:inline;
	padding:0 15px;
	border-right:1px solid #999;
	line-height:40px;
	font-size:14px;
	color:#ccc;
}
#navi ul .last {
	border-right:0;
}
#navi ul li a:link, #navi ul li a:visited {
	color:#ccc;
	text-decoration:none;
}
#navi ul li a:hover {
	color:#fff;
}
#sqlview {
	position:absolute;
	left:10px;
	top:10px;
	width:420px;
	padding:10px;
	border:1px solid #000;
	text-align:left;
}
#sqlview p {
	border-bottom:1px dotted #ccc;
}
#footer {
	clear:both;
	padding:10px;
}
#footer p {
	margin:0px;
	color:#666;
}
